body{overflow-y:hidden}
.red{background: red}
.green{background: green}
.yellow{background: yellow}
.ccc{background: #ccc}

#box{
    position: relative;

}
#btn{
    position: fixed;
    top:0;
    left:0;
}